* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

h1 {
    display: inline;
    vertical-align: 40%;
}

header {
    background-color: white;
    margin-bottom: 20px;
}

main {
    max-width: 100%;
    margin-left: 15%;
    margin-right: 15%;
}


nav {
    width: auto;
    background-color: white;
    padding: 2%;
    margin-bottom: 2px;
}

#add-task {
    color: white;
    background-color: #46adf1;
}

#add-section {
    color: gray;
    background-color: white;
}

.adding {
    border: 1px solid grey;
    border-radius: 7px;
    padding: 3px 5px;
}

