* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

h1 {
    display: inline;
    vertical-align: 40%;
}

header {
    background-color: white;
    margin-bottom: 20px;
}

main {
    max-width: 100%;
    margin-left: 15%;
    margin-right: 15%;

}


nav {
    width: auto;
    background-color: white;
    padding-left: 10%;
    margin-bottom: 2px;
    
}

section {
    padding-left: 12%;
    background-color: white;

}

ul > li {
    padding-inline-start: 0px;
}

li {
    padding: 2%;
    padding-inline-start: none;
}

ul .sottolista{
    padding-inline-start: none;
    list-style-image: url(../img/green-check-mark-icon-checkmark-circle-checklist-tick-colored-flat-style-vector-illustration-eps-154721515.jpg);
}

.lista-primaria {
    list-style-image: url(../img/9662.png);
}
#add-task {
    color: white;
    background-color: #46adf1;
    
}

#add-section {
    color: gray;
    background-color: white;
}

.adding {
    border: 1px solid grey;
    border-radius: 7px;
    padding: 3px 5px;
}


.triangolino {
    font-size: 15px;
}
