* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

h1 {
    display: inline;
    vertical-align: 40%;
}

header {
    background-color: white;
}